<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>

<body>
    <h1>Menu</h1>

    {% set types = [] %}

    {% for food in foods %}
        {% if food.food_type not in types %}
            {% if types|length > 0 %}
                </div>
            {% endif %}
            {% set _ = types.append(food.food_type) %}
            <div class="menu-type">{{ food.food_type }}</div>
            <div class="row">
        {% endif %}

        <div class="column">
            <h3>{{ food.food_name }}</h3>
            <p>Price: £{{ food.food_price }}</p>
        </div>

        {% if loop.index % 4 == 0 and not loop.last %}
            </div>
            <div class="row">
        {% endif %}
        
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}

    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>

</html>
<style>
    .menu-type {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .column {
        width: 25%;
        padding: 10px;
        font-size: 16px;
    }
    body {
        background-color: #FFC7C7;
        font-family: Indie Flower;
        overflow-x: hidden;
    }
</style>
